body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
	background-image: url(../img/background.jpg);
	background-color: #DECFB0;
	background-repeat: repeat;
	background-size: contain;
	padding: 30px;
}

header {
	display: block;
	margin: auto;
	max-width: 800px;
}

.hamburger {
	display: none;
}

.logo {
	display: block;
	margin: auto;
	max-width: 369px;
}

.sublogo {
	max-width: 435px;
	display: block;
	margin: 30px auto;
}

.logo img, .sublogo img {
	width: 100%;
}

.nav {
	display: block;
	text-align: center;
}

.nav li {
	display: inline-block;
	text-align: center;
}

.dot {
	height: 0.8rem;
	width: 0.8rem;
	background-color: #997141;
	border-radius: 50%;
	display: inline-block;
}

.nav-divider {
	transform: translateY(-0.2rem);
	padding: 0 1rem;
}

.nav-item a {
	text-decoration: none;
	color: #5A0024;
	font-size: 37px;
	display: inline-block;
}

.mobile-nav {
	display: none;
	text-align: center;
}

.mobile-nav li {
	display: inline-block;
	text-align: center;
	padding: 25px 0;
}

.mobile-nav-divider {
	background-color: #5A0024;
	width: 2px;
	margin: 15px 0;
}

.mobile-nav-item a {
	text-decoration: none;
	color: #5A0024;
	font-size: 25px;
	display: inline-block;
}


.pointer {
	cursor: pointer;
	transition: 0.15s ease opacity;
}

.pointer:hover {
	opacity: 0.7;
}

.pointer:active {
	opacity: 1;
}

main {
	margin: 40px auto;
}

.blurb, .info {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 22px;
	font-weight: 500;
	line-height: 1.4;
	color: #997141;
	max-width: 1400px;
	margin-top: 20px;
}

.call-to-action, .contact-link {
	text-decoration: none;
	font-weight: 500;
	color: #5A0024;
}

.hero {
	display: block;
	margin: 50px auto;
	max-width: 100%;
}

.category-container {
	text-align: center;
	display: block;
	margin: 95px auto;
	max-width: 1000px;
}

.category-name {
	margin-bottom: 15px;
	font-size: 45px;
	text-decoration: none;
	color: #5A0024;
}

.category-container img {
	margin-top: 15px;
	max-width: 100%;
}

.wimround {
	display: block;
	margin: 0 auto 75px auto;
	max-width: 100%;
}

/*GALLERY PAGE*/
.wimround-header {
	display: block;
	margin: 0 auto 25px auto;
	max-width: 100%;
}

.wimround-header img {
	display: block;
	margin: auto;
}

.page-title {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 60px;
	color: #5A0024;
}

.gallery-container {
	display: block;
	margin: auto;
	max-width: 1200px;
	margin-bottom: 40px;
}

.gallery-category {
	margin: 30px 0 10px 0;
	text-align: center;
	font-size: 40px;
	color: #5A0024;
}

.gallery-tab {
	background-color: #e6dbc4;
	border: 2px solid #5A0024;
	padding: 0;
	border-radius: 0.5em;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.gallery-tab img {
	width: 100%;
	padding-bottom: 1px;
}

.gallery-tab img:last-child {
	padding-bottom: 0;
	margin-bottom: -3px;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.view-more {
	float: right;
	font-size: 24px;
	text-decoration: none;
	color: #5A0024;
	padding-right: 2px;
}

.view-more i {
	font-size: 19px;
}

.to-top-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
}

.to-top {
	border: 3px solid #5A0024;
	color: #5A0024;
	border-radius: 50%;
	height: 85px;
	width: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	font-weight: 500;
}

.to-top-image {
	width: 260px;
	margin-top: -15px;
}

.to-top:hover {
	cursor: pointer;
}

.to-top-image:hover {
	cursor: pointer;
}

/*SHOP PAGE*/
.info {
	margin-top: 30px;
}

#shop-image {
	display: block;
	margin: auto;
}

/*CONTACT*/
#map {
	display: block;
	margin: auto;
}

.contact-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.contact-form {
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px 0 35px 0; 
}

.input-style {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #997141;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(153, 113, 65, 0.8);
    margin-bottom: 12px;
    padding: 5px;
}

.input-style::-webkit-input-placeholder {
	color: #997141;
	opacity: 0.5;
}

.input-style::-moz-placeholder {
	color: #997141;
	opacity: 0.5;
}

.input-style:-ms-input-placeholder {
	color: #997141;
	opacity: 0.5;
}

.input-style::placeholder {
	color: #997141;
	opacity: 0.5;
}

.contact-form label {
	display: none;
}

#contact-submit {
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
	color: #5A0024;
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid #5A0024;
	padding: 5px 15px;
	transition: 0.25s ease background-color;
}

#contact-submit:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.8);
}

/*MAILCHIMP*/
#newsletter {
	display: block;
	margin: 10px auto;
	max-width: 700px;
}

#mc_embed_signup_scroll {
	display: flex;
	justify-content: center;
	height: 60px;
}

.mc-field-group {
	width: 75%;
	padding-right: 15px;
}

#mce-EMAIL {
	width: 100%;
	height: 100%;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: #997141;
	border: 1px solid #997141;
	background-color: rgba(255, 255, 255, 0.5);
}

#mce-EMAIL:focus {
	background-color: rgba(255, 255, 255, 1);
	outline-color: #5A0024;
}

#mce-EMAIL::-webkit-input-placeholder {
	color: #997141;
	opacity: 0.5;
}

#mce-EMAIL::-moz-placeholder {
	color: #997141;
	opacity: 0.5;
}

#mce-EMAIL:-ms-input-placeholder {
	color: #997141;
	opacity: 0.5;
}

#mce-EMAIL::placeholder {
	color: #997141;
	opacity: 0.5;
}

.submit-group {
	width: 25%;
}

#mc-embedded-subscribe {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 32px;
	color: #5A0024;
	border: 1.5px solid #5A0024;
	background-color: rgba(255, 255, 255, 0.5);
	transition: 0.15s ease all;
}

#mc-embedded-subscribe:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#mc-embedded-subscribe:active {
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: none;
}

#mc-embedded-subscribe:focus {
	outline-color: #5A0024;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#mce-success-response {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #5A0024;
}

/*Footer*/
footer {
	width: 100%;
	padding: 40px 0 0 0;
}

.social-media {
	display: flex;
	width: 100%;
	justify-content: center;
}

.social-media a {
	height: 70px;
	margin: 0 15px;
}

.social-media img {
	height: 100%;
}

.social-media img:hover {
	opacity: 0.8;
}

.copyright {
	width: 100%;
	margin-top: 25px;
}

.copyright p {
	text-align: center;
	color: #997141;
	font-size: 22px;
}

/*TABLET PORTRAIT*/
@media only screen and (max-width: 900px) {
 	body {
    	padding-right: 0;
    	padding-left: 0;
    }

	.to-top {
		height: 70px;
		width: 70px;
		font-size: 18px;
	}

	.to-top-image {
		width: 210px;
		margin-top: -15px;
	}
}

/*MOBILE*/
@media only screen and (max-width: 660px) {
	.logo {
		max-width: 250px;
		padding-left: 6px;
	}

	.sublogo {
		max-width: 395px;
		padding: 0 5px;
	}

	.nav {
		display: none;
	}

	.mobile-nav {
		display: flex;
		justify-content: space-around;
		position: absolute;
		top: 160px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.4);
		-webkit-transition: all 0.6s ease; /* Safari */
  		transition: all 0.6s ease;
	}

	.off-screen {
		transform: translateX(-100%);
	}

	.hamburger {
		display: block;
		position: absolute;
		top: 60px;
		right: 20px;
		height: 60px;
	}

	.blurb {
		font-size: 18px;
		padding: 0 10px;
	}

	.view-more {
		float: right;
		font-size: 22px;
		text-decoration: none;
		color: #5A0024;
		padding-right: 2px;
	}

	.view-more i {
		font-size: 16px;
	}

	#mc_embed_signup_scroll {
		flex-direction: column;
		align-items: center;
		height: 120px;
	}

	.mc-field-group {
		width: 100%;
		padding: 0;
		margin-bottom: 10px;
		height: 60px;
	}

	#mce-EMAIL {
		text-align: center;
	}

	.submit-group {
		width: 100%;
		height: 60px;
	}

	.to-top {
		border-width: 2px;
		height: 55px;
		width: 55px;
		font-size: 14px;
	}

	.to-top-image {
		width: 170px;
		margin-top: -10px;
	}

	#map {
		width: 90%;
	}

}